.contacts {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196F3;
  border-color: transparent;
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 250ms linear 50ms;
}
.btn:hover {
  background-color: #188CE8;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

.white-text {
  color: #FFFFFF;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.section-flex {
  display: flex;
}
.section-flex > li {
  margin-right: 30px;
  height: 294px;
  z-index: 1;
}
.section-flex div {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 27px;
}
.section-flex li {
  position: relative;
}
.section-flex li:last-child {
  margin-right: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.contacts {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

header {
  font-weight: 500;
  display: flex;
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 2;
  height: 60px;
}
@media screen and (min-width: 768px) {
  header {
    padding-top: 24px;
    height: 80px;
  }
}

.navigation {
  display: flex;
}
@media screen and (min-width: 768px) {
  .navigation {
    margin-left: auto;
    margin-right: auto;
    width: 738px;
    gap: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    width: 1170px;
  }
}
.navigation__icon::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.navigation__icon {
  margin-right: 10px;
  fill: currentColor;
}
.navigation__link {
  color: #212121;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms linear 50ms;
}
@media screen and (max-width: 1199px) {
  .navigation__contact-list {
    flex-direction: column;
    gap: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__contact-list {
    margin-left: 150px;
  }
}

#highlight-page {
  color: #2196F3;
  height: 56px;
}

.navigation__list {
  padding: 0px;
  display: none;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
  }
}
@media screen and (max-width: 1199px) {
  .navigation__list {
    gap: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    gap: 30px;
  }
}
.navigation__list a:hover {
  color: #2196F3;
}
.navigation__list li {
  position: relative;
  display: inline;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .navigation__list li {
    padding-top: 6px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__list a {
    height: 30px;
  }
}

#highlight-page::after {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  width: 103%;
  bottom: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  #highlight-page::after {
    bottom: 0px;
  }
}

.header__modal {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: 0;
  background-color: #FFFFFF;
  margin-top: 7px;
}
@media screen and (min-width: 768px) {
  .header__modal {
    display: none;
  }
}
.header__modal svg {
  width: 44px;
  height: 44px;
}

.header__icon-cross {
  display: none;
}

.is-open .header__icon-cross {
  display: block;
}

.is-open .header__icon-menu {
  display: none;
}

.mobile-menu.is-open {
  opacity: 1;
  left: 0%;
}

.mobile-menu {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 100%;
  left: 100%;
  background-color: #FFFFFF;
}
.mobile-menu__list li {
  margin-top: 32px;
}
.mobile-menu__list li:nth-child(1) {
  margin-top: 20px;
}
.mobile-menu__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-menu__link:hover {
  color: #2196F3;
}
.mobile-menu__contacts {
  margin-top: 160px;
}
.mobile-menu__contacts li:nth-child(2) {
  margin-top: 32px;
}
.mobile-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.mobile-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-menu__social {
  margin-top: 64px;
  gap: 10px;
  display: flex;
}
.mobile-menu__social a {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.mobile-menu__social li {
  margin-left: 0px;
  margin-top: 0px;
}
.mobile-menu__social a::after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}
.mobile-menu__last-social a::after {
  content: "";
  border: 0px solid;
}
.mobile-menu__container {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

#pages-list {
  gap: 30px;
}

body {
  font-family: "Roboto";
  color: #212121;
}

.contacts {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.navigation-underline {
  border: 1px solid #ECECEC;
}

.goods__nav {
  display: flex;
  justify-content: left;
  margin-bottom: 34px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .goods__nav {
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .goods__nav {
    width: 375px;
  }
}
.goods__nav button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: 1px solid transparent;
  height: 38px;
  padding: 0px 22px;
  transition: color 250ms linear 50ms, background-color 250ms linear 50ms, box-shadow 250ms linear 50ms;
}
.goods__nav button:hover {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.goods__nav li {
  margin-right: 8px;
}
.goods__nav li:nth-child(2) {
  margin-bottom: 8px;
}
.goods__nav li:last-child {
  margin-right: 0px;
}

.goods {
  padding: 94px 0px;
}
.goods__name p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  width: 100%;
  height: 30px;
  margin: 0px;
}
.goods__overlay {
  width: 100%;
  height: 100%;
  background-color: #2196F3;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 63px 24px;
  overflow: hidden;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transition: opacity 250ms linear 50ms, transform 250ms linear 50ms;
  transform: translateY(100%);
  opacity: 0;
}
.goods__description:hover .goods__overlay {
  opacity: 1;
  transform: translateY(0);
}
.goods__name {
  width: 100%;
  background-color: #FFFFFF;
  padding: 20px 24px;
}
.goods__description {
  position: relative;
}

.goods__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .goods__list {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }
}
.goods__list li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.goods__list h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  width: inherit;
  height: 36px;
  margin-bottom: 4px;
}
.goods__list li {
  border: 1px solid #EEEEEE;
  width: 450px;
  cursor: pointer;
  transition: box-shadow 250ms linear 50ms;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .goods__list li {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .goods__list li {
    width: 370px;
  }
}

.contacts {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

footer {
  font-weight: 400;
  background-color: #2F303A;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  padding: 60px 0px;
}

address {
  margin-top: 20px;
  width: 231px;
  font-style: normal;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 75px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    padding: 0px 15px;
    width: 1170px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container > div:nth-child(2) {
    margin-left: auto;
    height: 139px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container > div:nth-child(2) {
    margin-left: 70px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__container > div {
    margin-bottom: 60px;
    text-align: center;
  }
}
.footer__container > div:last-child {
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .footer__container > div:last-child {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container > div:last-child {
    width: 540px;
    height: 139px;
    margin-left: 93px;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
}
.footer__social li {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer__social li:last-child {
  margin: 0px;
}
.footer__social svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.footer__social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  color: #FFFFFF;
  transition: background-color 250ms linear 50ms;
}
.footer__social-link:hover {
  background-color: #2196F3;
}

.footer__input {
  width: 358px;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-bottom: 20px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: border 250ms linear 50ms;
}
@media screen and (min-width: 768px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-bottom: 0px;
    margin-right: 12px;
  }
}
.footer__input:hover {
  border-color: #2196F3;
}

.footer__icon {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  margin-left: 10px;
}
.footer__btn {
  display: flex;
  align-items: center;
  padding: 0px 28px;
}
.footer__title {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  width: 100%;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer__contact a {
  display: block;
  margin-top: 8px;
}
.footer-logo {
  align-items: center;
}
.footer__ads {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__ads {
    flex-direction: row;
  }
}

.contacts {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.contacts {
  color: #757575;
  display: flex;
  align-items: center;
  transition: color 250ms linear 50ms;
}
@media screen and (min-width: 768px) {
  .contacts_base {
    top: -15px;
    height: 30px;
    width: 164px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts_base {
    padding-top: 15px;
    height: 56px;
  }
}

#navigation__mail {
  margin-left: 0px;
}

.contacts {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.logo {
  font-family: "Raleway";
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logospan {
  color: #2196F3;
}

.navigation__logo {
  height: 60px;
  padding-top: 15px;
}
@media screen and (min-width: 768px) {
  .navigation__logo {
    padding: 0px;
    height: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__logo {
    margin-right: 100px;
  }
}/*# sourceMappingURL=portfolio.css.map */