@import "../utils/pattern";

.contacts {
    color: $passivecolor;
    @extend %usualfont;
    display: flex;
    align-items: center;
    transition: color 250ms linear 50ms;
}

#navigation__mail {
    margin-left: 299px;
}