@import "../utils/pattern";

.contacts {
    color: $passivecolor;
    @extend %usualfont;
    display: flex;
    align-items: center;
    transition: color 250ms linear 50ms;
    
    &_base
    {
        @media screen and (min-width:768px)
        {  
            top: -15px;  
            height: 30px;
            width: 164px;
        }
        @media screen and (min-width:1200px)
        {
            padding-top: 15px;    
            height: 56px;
        }
    }
}

#navigation__mail {
    margin-left: 0px;
}