.contacts {
    color: #757575;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    transition: color 250ms linear 50ms;
}

#navigation__mail {
    margin-left: 299px;
}