@import "../utils/pattern";


    .customers 
    {
        padding: 94px 0px;
        &__icon 
        {
            width: 50px;
            height: 50px;
            fill: currentColor;
        }
    }
    
    .customers__list 
    {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        gap: 30px;
        @media screen and (min-width:768px) 
        {
            width: 690px;    
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (min-width:1200px)
        {
            width: 1170px;    
        }
        
        li 
        {
            width: 210px;
            height: 90px;
            @media screen and (min-width:1200px) 
            {
                width: 170px;
                height: 90px;
                margin-bottom: 0px;    
            }
        } 
         
    }

    .customers__link 
    {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            border: 1px solid #AFB1B8;
            color: #AFB1B8;
            border-radius: 4px;
            transition: border 250ms linear 50ms,
                color 250ms linear 50ms;
        &:hover 
        {
        
               border: 1px solid $gencolor;
                color: $gencolor; 
            
            
        }    
    }

