@import "../utils/pattern";


    .features 
    {
        @media screen and (min-width:480px) 
        {
            padding: 60px 0px;
        }
        @media screen and (min-width:1200px) 
        {
            padding: 94px 0px;    
        }
    }

    .features__list 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width:768px) 
        {
            flex-direction: row;
            flex-wrap: wrap;   
            width: 738px;
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (min-width:1200px)
        {
            width: 1170px;  
        }
        h3 
        {
            @media screen and (min-width:480px) 
            {
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #212121;
                margin-right: auto;
                margin-left: auto;
            }
            @media screen and (min-width:768px) 
            {
                text-align: left;
            }
        }
        p 
        {
            @media screen and (min-width:480px) 
            {
                font-weight: 400;
                font-size: 14px;
                line-height: 1.7;
                letter-spacing: 0.03em;
                color: $passivecolor;
            }
        }
        li 
        {
            @media screen and (min-width:480px) 
            {
                width: 450px;
                height: 226px;
                margin-bottom: 30px;
            }
            @media screen and (min-width:768px) 
            {
                width: 354px;
                height: 244px;
                margin-right: 30px;
            }
            @media screen and (min-width:1200px)
            {
                width: 270px; 
                height: 251px;   
                margin-bottom: 0px;
            }
        }
        li:last-child 
        {
                margin-bottom: 0px; 
                margin-right: 0px;
        }
        li:nth-child(2) 
        {
            @media screen and (min-width:768px)
            {
                margin-right: 0px;
            }
            @media screen and (min-width:1200px) 
            {
                margin-right: 30px;    
            }
        }
        li:nth-child(3) 
        {
            @media screen and (min-width:768px) 
            {
                margin-bottom: 0px;    
            }
        }
        li::before 
        {
            @media screen and (min-width:480px) 
            {
                content: "";
                display: block;
                height: 120px;
                background-repeat: no-repeat;
                background-position: center;
                background-color: #F5F4FA;
                margin-bottom: 30px;
            }
            
        }
        li:nth-child(1)::before 
        {
            
                background-image: url(../images/fe1.png);
                background-size: 70px 70px;
            
            
        }

        li:nth-child(2)::before 
        {
            
                background-image: url(../images/fe2.png);
                background-size: 70px 70px;
            
            
        }

        li:nth-child(3)::before 
        {
            
                background-image: url(../images/fe3.png);
                background-size: 70px 70px;
            
        }

        li:nth-child(4)::before 
        {
            
                background-image: url(../images/fe4.png);
                background-size: 70px 70px;
            
            
        }
    }