@import "../utils/pattern";

header {
    font-weight: 500;
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    z-index: 2;
    height: 60px;
    @media screen and (min-width:768px) 
    {
        padding-top: 24px;
        height: 80px;  
    }
    border-bottom: 2px solid #ECECEC;
}


.navigation {
    display: flex;
    
    @media screen and (min-width:768px) 
    {
        margin-left: auto;
        margin-right: auto;
        width: 738px; 
        gap: 90px;   
    }
    @media screen and (min-width:1200px) 
    {
        width: 1170px;    
    }
    &__icon::before 
    {
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &__icon 
    {
        margin-right: 10px;
        fill: currentColor;
    }

    &__link 
    {
        color: #212121;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        transition: color 250ms linear 50ms;
    }
    &__contact-list
    {
        @media screen and (max-width:1199px) 
        {
            flex-direction: column;
            gap: 0px;            
        }
        @media screen and (min-width:1200px) 
        {
            margin-left: 150px;    
        }
    }
}
#highlight-page {
    color: $gencolor;
    height: 56px;
}
.navigation__list {
    padding: 0px;
    display: none;
    gap: 30px;
    @media screen and (min-width:768px)
    {
        display: flex;
    }
    @media screen and (max-width:1199px) 
    {
        gap: 0px;    
    }
    @media screen and (min-width:1200px) 
    {
        gap: 30px;    
    }
    a:hover 
    {
        color: $gencolor;
    }
    li 
    {
        position: relative;
        display: inline;
        justify-content: center;
        @media screen and (max-width:1199px){
            padding-top: 6px;
        }
        
        
    }
    a
    {
        @media screen and (min-width:768px)
        {
            height: 30px;
        }
    }
}



#highlight-page::after {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    width: 103%;
    bottom: 4px;
    background-color: $gencolor;
    border-radius: 2px;
    @media screen and (min-width:1200px){
        bottom: 0px;
    }
}
.header__modal
{
    @media screen and (min-width:768px) 
    {
        display: none;
    }
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    border: 0;
    background-color: #FFFFFF;
    margin-top: 7px;
    svg
    {
        width: 44px;
        height: 44px;
    }
}
.header__icon-cross
{
    display: none;
}
.is-open .header__icon-cross {
    display: block;
}
.is-open .header__icon-menu
{
    display: none;
}
.mobile-menu.is-open
{
    opacity: 1;
    left: 0%;
}
.mobile-menu
{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 100%;
    left: 100%;
    background-color: #FFFFFF;
    &__list li
    {
        margin-top: 32px;
    }
    &__list li:nth-child(1)
    {
        margin-top: 20px;
    }
    &__link
    {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #212121;   
    }
    &__link:hover
    {
        color: $gencolor;
    }
    &__contacts
    {
        margin-top: 160px;
    }
    &__contacts li:nth-child(2)
    {
        margin-top: 32px;
    }
    &__tel
    {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $gencolor;
    }
    &__mail
    {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: #757575;
    }
    &__social
    {
        margin-top: 64px;
        gap: 10px;
        display: flex;
    }
    &__social a
    {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2196F3;
    }
    &__social li
    {
        margin-left: 0px;
        margin-top: 0px;
    }
    &__social a::after
    {
        content: "";
        border: 1px solid rgba(33, 33, 33, 0.2);
        margin-left: 10px;
    }
    &__last-social a::after
    {
        content: "";
        border: 0px solid;
    }
    &__container
    {
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
}
#pages-list
{
    gap: 30px;
}