@import "../utils/pattern";

header {
    font-weight: 500;
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
    @media screen and (min-width:480px) 
    {
        height: 60px;    
    }
}


.navigation {
    display: flex;
    justify-content: space-between;

    &__icon::before 
    {
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &__icon 
    {
        margin-right: 10px;
        fill: currentColor;
    }

    &__link 
    {
        color: #212121;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        transition: color 250ms linear 50ms;
    }
}

.navigation__list {
    margin: 32px 0px;
    padding: 0px;
    display: none;
    @media screen and (min-width:768px)
    {
        display: flex;
    }
    a:hover 
    {
        color: $gencolor;
    }

    li 
    {
        position: relative;
        display: inline;
        margin-right: 30px;
        height: 48px;
    }

    li:last-child 
    {
        margin-right: 0px;
    }
    
}

#highlight-page {
    color: $gencolor;
}

#highlight-page::after {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    width: 103%;
    bottom: 0px;
    background-color: $gencolor;
    border-radius: 2px;
}
.header__modal
{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-top: 7px;
    svg
    {
        width: 44px;
        height: 44px;
    }
}
.header__icon-cross
{
    display: none;
}
.mobile-menu
{
    position: absolute;
    width: 100vh;
    height: 100vh;
    top: 100%;
    left: 0;
    background-color: grey;
}