header {
    font-weight: 500;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #FFFFFF;
}
.navigation__list a:hover {
    color: #2196F3;
}

.navigation {
    color: #212121;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    transition: color 250ms linear 50ms;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation__list li {
    position: relative;
    display: inline;
    margin-right: 30px;
    height: 48px;
}

.navigation__list {
    margin: 32px 0px;
    padding: 0px;
    display: flex;
}

.navigation__list li:last-child {
    margin-right: 0px;
}

.navigation__icon::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.navigation__icon {
    margin-right: 10px;
    fill: currentColor;
}

#highlight-page {
    color: #2196F3;
}

#highlight-page::after {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    width: 103%;
    bottom: 0px;
    background-color: #2196F3;
    border-radius: 2px;
}