@import "../utils/pattern";


    .hero {
        margin-left: auto;
        margin-right: auto;
        max-width: 1600px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image:
        linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../../images/hero-m@1x.jpg);
        padding: 118px 60px;
        @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi)
        {
            background-image: url(../../images/hero-m@2x.jpg);
        }
        
        @media screen and (min-width:480px) 
        {
            background-image:
                    linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../../images/hero-tab@1x.jpg);
            @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) 
            {
                background-image: url(../../images/hero-tab@2x.jpg);
            }
        }
        @media screen and (min-width:768px) 
        {
            background-image:
                    linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../../images/hero-desk@1x.jpg);
            height: 600px;
            padding: 200px 0px;
            @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) 
            {
                background-image: url(../../images/hero-desk@2x.jpg);    
            }
        }
        
        

        &__title 
        {
            font-family: 'Roboto';
            font-weight: 900;
            font-size: 26px;
            line-height: 1.6;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 0px;
            padding-bottom: 30px;
            
            @media screen and (min-width:1200px) 
            {
                font-size: 44px;
                line-height: 1.36;
            }            
                           
        }

        &__btn 
        {
            display: block;
            text-align: center;
        }
    }
