@import "../utils/pattern";

.logo {
    font-family: "Raleway";
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    
    &span {
        color: $gencolor;
    }
}

.navigation__logo {
    @media screen and (min-width:480px) 
    {
        margin: 15px 0px 15px 15px;    
    }
    
}