@import "../utils/pattern";

.logo {
    font-family: "Raleway";
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    
    &span {
        color: $gencolor;
    }
}

.navigation__logo 
{   
    height: 60px;
    padding-top: 15px;
    @media screen and (min-width:768px) 
    {
        padding: 0px;
        height: 56px;
    }
}