@import "../utils/pattern";

.logo {
    font-family: "Raleway";
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    
    &span {
        color: $gencolor;
    }
}

.navigation__logo {
    margin: 24px 93px 25px 0px;
}