body {
    font-family:"Roboto";
    color: #212121;
}
header {
    font-weight: 500;
    display: flex;
    height: 80px;
}
footer {
    font-weight: 400;
    background-color: #2F303A;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    height: 252px;
    padding: 60px 0px;
}
/* ----------РІЗНЕ---------- */
ul 
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.container {
    width: 1200px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
    
}
a {
    text-decoration: none;
}
.white-text {
    color: #FFFFFF;
}
.bg-color {
    background-color: #2F303A;
}
.background-color-our-team {
    background-color: #f5f4fa;
}
.bgtitle {
    height: 600px;
    background-image:linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ) 
    ,url(/images/img.jpg);
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}
.section-flex {
    display: flex;
}
.section-flex li {
    margin-right: 30px;
}
.section-flex li:last-child {
    margin-right: 0px;
}
/* ----------ЛОГОТИП---------- */
.logocolor {
    color: #2196F3;
}
.logo {
    font-family: "Raleway";
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.header-logo {
    margin: 24px 93px 25px 0px;
}
/* ----------КОНТАКТИ---------- */
.contacts {
    color: #757575;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
#header-mail {
    margin-left: 309px;
}
/* ----------HEADER---------- */
.highlight a:hover {
    color: #2196F3;
}
.navigation {
    color: #212121;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}
.header-flex {
    display: flex;
    justify-content: space-between;
}
.highlight li {
    display: inline;
    margin-right: 50px;
}
.highlight {
    margin: 32px 0px;
    padding: 0px;
    display: flex;
}
.highlight li:last-child{
    margin-right: 0px;
}
/* ----------MAIN---------- */
/* ------------------------------------ SECTION 1*/
.title {
    color: #FFFFFF;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    padding-top: 200px;
    margin: 0px;
    padding-bottom: 30px;
}
.button_ {
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 4px;
    border: 1px solid #2196F3;
    cursor: pointer;
    padding: 1px 6px;
}
.title-button {
    display: block;
    text-align: center;
}
/* ----------------------------------------  SECTION 2*/
.features-list h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    width: 270px;
}
.features-list p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}
.features-list {
    display: flex;
}
.features-section {
    padding: 94px 0px;
}
.features-list li {
    margin-right: 30px;
}
.features-list li:last-child{
    margin-right: 0px;
}
.features-list li::before {
    content: "";
    display: block;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}
.features-list li:nth-child(1)::before {
    background-image: url(/images/fe1.png);
    background-size: 70px 70px;
}

.features-list li:nth-child(2)::before {
    background-image: url(/images/fe2.png);
    background-size: 70px 70px;
}

.features-list li:nth-child(3)::before {
    background-image: url(/images/fe3.png);
    background-size: 70px 70px;
}

.features-list li:nth-child(4)::before {
    background-image: url(/images/fe4.png);
    background-size: 70px 70px;
}
/*----------------------------------- SECTION 3 */

.section3 {
    padding: 0px 0px 94px;
}
/*----------------------------------- SECTION 4 */
.members-social h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    width: 270px;
    text-align: center;
    margin: 30px 0px 10px 0px;
}

.members-social p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #757575;
    width: 270px;
    text-align: center;
    margin: 0px 0px 30px 0px;
}

.members-photo {
    width: 270px;
    height: 260px;
}
.members-social li{
    width: 270px;
    height: 368px;
    background-color: #FFFFFF;
    box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    
    border-radius: 0px 0px 4px 4px;
}
.members-social{
    display: flex;
    justify-content: center;
}
/* ----------FOOTER---------- */
address{
    margin-top: 20px;
}
.footer-contact a{
    display: block;
    margin-top: 9px;
}

