body {
    font-family:"Roboto";
    color: #212121;
}
header {
    font-weight: 500;
    display: flex;
    height: 80px;
    padding: 0px 215px;
}
footer {
    font-weight: 400;
    background-color: #2F303A;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    height: 252px;
    padding: 60px 215px;
}
ul {
    list-style: none;
}
.logocolor {
    color: #2196F3;
}
.logo {
    font-family: "Raleway";
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
a {
    text-decoration: none;
}
.contacts {
    color: #757575;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.navigation {
    color: #212121;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}
.highlight a:hover {
    color: #2196F3;
}
.white-text {
    color: #FFFFFF;
}
.bg-color {
    background-color: #2F303A;
}
.title {
    color: #FFFFFF;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    padding-top: 200px;
    margin: 0px;
    padding-bottom: 30px;
}
.button_ {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 4px;
    border: 1px solid #2196F3;
    cursor: pointer;
    padding: 1px 6px;
    
}
.section2 h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    width: 270px;
}
.section2 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}
.members-social h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    width: 270px;
    text-align: center;
    margin: 30px 0px 10px 0px;
}
.members-social p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #757575;
    width: 270px;
    text-align: center;
    margin: 0px 0px 30px 0px;
}
.members-photo{
    width: 270px;
    height: 260px;
}
.bg-color2 {
    background-color: #f5f4fa;
}
.bgtitleheight {
    height: 600px;
}
.title-button {
    display: block;
    text-align: center;
}
.header-flex {
    display: flex;
    justify-content: space-between;
}
.header-logo {
    margin: 24px 93px 25px 0px;
}
.highlight li{
    display: inline;
    margin-right: 50px;
}
.highlight {
    margin: 32px 0px;
    padding: 0px;
}
#header-mail {
    margin-left: 120px;
}
.section2 {
    display: flex;
}
.section2-padding {
    padding: 94px 170px;
}
.visiblity-section-title {
    visibility: hidden;
}
.section2 li {
    margin-right: 30px;
}
.section-flex {
    display: flex;
}
.section3-padding {
    padding: 0px 170px 94px;
}
.section-flex li {
    margin-right: 30px;
}
.members-social li{
    width: 270px;
    height: 368px;
    background-color: #FFFFFF;
}
.members-social{
    display: flex;
}
address{
    margin-top: 20px;
}
.footer-contact a{
    display: block;
    margin-top: 9px;
}
.main-nav button{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-right: 8px;
}
.main-nav button:hover{
    color: #FFFFFF;
    background-color: #2196F3;
}
.portfolio-section{
    padding: 94px 139px;
}
.main-nav{
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}
.main-portfolio h3{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    width: 322px;
    height: 36px;
    margin: 20px 24px 4px;
}
.main-portfolio li{
    border: 1px solid #EEEEEE;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.main-portfolio p{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    width: 322px;
    height: 30px;
    margin: 4px 24px 20px;
}
.main-portfolio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header-border{
    border: 1px solid #ECECEC;
}